<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyWeatherFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A1ECECD1D6F9C0300BEF4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1ECEE41D6F9C0400BEF4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1ECEEF1D6F9C0400BEF4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
